# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

trapex
log
*.log
# DSS Misc
*.[0-9]
*-dss.*
# Ignore vi swap files
*.swp

# Capture files
*.gob

# Unit test output
tests/tmp/*.csv
tests/tmp/*.log

# Misc dev env files
.vscode
